user = {{ configure_mail_postfixadmin_database_user }}
password = {{ configure_mail_postfixadmin_database_password }}
hosts = 127.0.0.1
dbname = {{ configure_mail_postfixadmin_database_name }}
table = alias
select_field = goto
where_field = address
